<div class="card bg-light rounded-0 text-center">
  <div class="card-body">
    <h3>My Heroes</h3>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <form class="form-inline">
      <label for="heroName">Hero name:</label>
      <input class="form-control" id="heroName" #heroName>
      <button class="btn btn-success" (click)="add(heroName.value); heroName.value=''">Add</button>
    </form>
  </div>
</div>
<div class="list-group">
  <a *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}" class="list-group-item list-group-item-action">
    <span class="badge badge-secondary">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="float-right btn btn-danger" title="delete hero" (click)="delete(hero)">&times;</button>
  </a>
</div>
