<div class="row">
  <div class="col">
    <div class="alert alert-primary alert-dismissable">
      <div class="row">
        <div class="col-1">
          <i class="fas fa-exclamation-triangle fa-3x"></i>
        </div>
        <div class="col-11">
          We've made OneView simpler to use by consolidating the Customer and Rep Views. Now the same info you saw in the Customer
          View will be visible in the Rep View without switching.
          <a href="#">Share your feedback > </a>
        </div>
      </div>
    </div>
  </div>
</div>