<app-header></app-header>
<div class="row">
  <div class="col-md-5 col-sm-12">
    <app-client></app-client>
  </div>
  <div class="col-md-5 col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <app-dealer-code></app-dealer-code>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <i class="far fa-plus-square fa-7x" style="color:#DA291C"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-submenu></app-submenu>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="alert alert-primary alert-dismissable">
      <i class="fas fa-volume-up fa-5x"></i>We've made OneView simpler to use by consolidating the Customer and Rep Views. Now the same info you saw in the
      Customer View will be visible in the Rep View without switching.
      <a href="#">Share your feedback > </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <app-bill></app-bill>
  </div>
  <div class="col-sm-4">
    <app-interaction></app-interaction>
  </div>
  <div class="col-sm-4">Oops! We’re currently experiencing a technical issue and working to resolve it as soon as we can. If you provide feedback
    to us about this error, please quote error code 888.</div>
</div>

<app-services></app-services>

<div class="row">
  <div class="col">
    <img src="/assets/images/banner-myrogers-bridge-EN.png">
  </div>
</div>

<div class="bg-light"><i class="fas fa-info-circle"></i> Time remaining in this session: 35:45</div>

<div style="background-color:#DA291C"><i class="fas fa-arrow-circle-up"></i> Go to NOVA <a href="#">Report Issue</a> <img src="/assets/images/yammerIcon.png" style="width:30px;"> </div>