<app-header></app-header>
<div class="row">
  <div class="col-md-5 col-sm-12">
    <app-client></app-client>
  </div>
  <div class="col-md-5 col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <app-dealer-code></app-dealer-code>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <i class="far fa-plus-square fa-7x" style="color:#DA291C"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-submenu></app-submenu>
  </div>
</div>

<app-notice></app-notice>

<div class="row">
  <div class="col-sm-4">
    <app-bill></app-bill>
  </div>
  <div class="col-sm-4">
    <app-interaction></app-interaction>
  </div>
  <div class="col-sm-4">Oops! We’re currently experiencing a technical issue and working to resolve it as soon as we can. If you provide feedback
    to us about this error, please quote error code 888.</div>
</div>

<app-services></app-services>
<app-asset-banner></app-asset-banner>