#footer {
    position: sticky;
    bottom: 0;
    width: 100%;
}

#timer {
    background-color: #e9eaea;
    color: black;
    padding: 5px;
}

#toolbar {
    background-color: #00aec7;
    padding: 5px;
    position: relative;
}

#toolbar-right {
    float: right;
    position: relative;
}

#toolbar a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

#expand {
    width: 60px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    cursor: pointer;
    position: absolute;
    top: 0;
}

#nova {
    margin-left: 80px;
    display: inline-block;
}

#report-issue {
    display: inline-block;
    margin-right: 80px;
}

#yammer {
    display: inline-block;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 60px;
    text-align: center;
    position: absolute;
    right: 0;
    top: -5px;
}

#navigation {
    height: 100px;
    background-color: #bbe4ec;
}