<div id="footer">
  <!-- TIMER -->
  <div id="timer">
    <div class="container text-right">
      <i class="fas fa-info-circle text-primary"></i> Time remaining in this session: 35:45
    </div>
  </div>
  <!-- TOOLBAR -->
  <div id="toolbar">
    <div class="container text-white">
      <div id="expand" class="text-center">
        <i class="fas fa-angle-up"></i>
      </div>
      <div id="nova" class="text-center">
        <a href="http://nova.rogers.com" target="_blank">Go to NOVA</a>
      </div>
      <div class="float-right">
        <div id="report-issue" class="text-center">
          <a href="#">Report Issue</a>
        </div>
        <div id="expand" class="text-center">
          <a href="https://www.yammer.com/rci.rogers.com/#/threads/inGroup?type=in_group&feedId=6316193" target="_blank">
            <img src="/assets/images/yammerIcon.png" style="width:25px;">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- NAVIGATION -->
  <div id="navigation"></div>
</div>